@import "../../variables";

.root {
	min-width: 100vh;
	padding: 221px 0 0 0;
	background: linear-gradient(180deg, $third 0%, $primary 100%);
	min-height: 100vh;

	&__wrap {
		display: flex;
	}

	&__wrapText {
		margin: 0 40px 0 0;
		max-width: 515px;
		width: 100%;
	}

	&__contentTitle {
		margin: 0 0 32px;
		font-weight: 700;
		font-size: 75px;
		line-height: 84px;
		letter-spacing: 4px;

		span {
			font-weight: 400;
		}
	}

	&__contentSubtitle {
		margin: 0 0 48px;
		font-size: 36px;
		line-height: 42px;
	}

	&__contentParallax {
		
	}

	&__buttonWrap {
		
	}
}