.root {
	padding: 24px 0;
	letter-spacing: 1px;
}
.sizeXL {
	font-size:72px;
}

.sizeL {
	font-size: 64px;
}

.sizeM {
	font-size: 36px;
}

.sizeS {
	font-size: 24px;
}

.sizeXS {
	font-size: 18px;
}

.sizeXXS {
	font-size: 12px;
}
