@import '../../variables';
.root {
	min-width: 100vh;
	min-height: 100vh;
	padding: 221px 0 0 0;
	background: linear-gradient(180deg, #FFFFFF 30.32%, #F5F5F5 100%);

	&__wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__title {
		text-align: center;
		font-size: 36px;
		margin: 0 0 35px 0;
	}

	&__wrapCardsContainer {
		display: flex;
		flex-wrap: wrap;
	}

	&__wrapCard {
		padding: 0 15px;
	}

	&__wrapCard:last-child {
		justify-content:start;
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		justify-content: center;
	}

	
}

.loadMess {
	color: rgb(0, 153, 255);
	padding: 221px 0 0 0;
	text-align: center;
	font-size: 40px;
}

.errorMess {
	color: $danger;
	padding: 221px 0 0 0;
	text-align: center;
	font-size: 40px;
}