@import '../../variables';
.root {
	min-width: 100vh;
	padding: 221px 0 0 0;
	background: linear-gradient(180deg, #FFFFFF 30.32%, #F5F5F5 100%);

	&__wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}